<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/userselection.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="name-1">
            <h1 class="name-2">
                 ABC universty
            </h1>
        </div>
    </header>
    <section class="content">
        <table>
            <tr>
                <th>Associate / Undergraduate / Institute</th>
             </tr>
             <tr>
                <td><a  asp-controller="Auth" asp-action="Login" >Student Login</a></td>
             </tr>  
             <tr>
                <td><a asp-controller="Auth" asp-action="Login"  >Instructor Login</a></td>
             </tr>  
             <tr>
                <td><a asp-controller="Auth" asp-action="Login" >Secretary Login</a></td>
             </tr>  
        </table>
    </section>
</body>
</html>